<h1>Users</h1>
<button routerLink="add" class="btn btn-sm btn-danger mb-2">Add User</button>
<table class="table table-striped table-bordered" #table>
    <thead>
        <tr>
            <th style="width: 30%" [appSort]="users" data-order="desc" data-name="firstName">First Name</th>
            <th style="width: 30%" [appSort]="users" data-order="desc" data-name="lastName">Last Name</th>
            <th style="width: 30%" [appSort]="users" data-order="desc" data-name="username">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="drag-handle" *ngFor="let user of users; let i=index;">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <button routerLink="edit/{{user.id}}" class="btn btn-sm btn-danger mr-1">Edit</button>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>